<!DOCTYPE html>
<html>
    <head>
         <meta charset="UTF-8">
        <title>Eat-Da-Burger</title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/3.0.1/handlebars.min.js"></script>
   	<!-- Added a link to Bootstrap-->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  {{!--link to our css--}}
      <link rel="stylesheet" href="/assets/css/style.css" type="text/css">
      {{!--link tou jQuery library--}}
		<script src="https://code.jquery.com/jquery.js"></script>
		{{!--link to our script file--}}
		<script src="/assets/js/burgers.js"></script>
    </head>
    <body>
        {{{body}}}
    </body>
  

</html>